@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Playwrite+HU:wght@100..400&display=swap');
*{
    margin:0;
    box-sizing:border-box;
    padding:0;
}
h1{
    text-align: center;
    margin:12px 0px;
}
.myform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myinput{
   width: 40%;
   padding:9px;
   margin:8px;
   font-size: 16px;
    border: 2px solid black;
    border-radius: 12px;
    outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background: rgb(136, 48, 48);
    cursor:pointer;
    outline: none;

}
.container{
    min-height: 83vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container h1{
     font-family: "Mozilla Headline", sans-serif;

}